In [1]:
import pandas as pd

In [2]:
india = pd.read_csv("../Global_Financial_Analysis/Stock_NS.csv")
usa = pd.read_csv("../Global_Financial_Analysis/Stock_USA.csv")
canada = pd.read_csv("../Global_Financial_Analysis/Stock_Canada.csv")
germany = pd.read_csv("../Global_Financial_Analysis/Stock_Germany.csv")
france = pd.read_csv("../Global_Financial_Analysis/Stock_France.csv")
shanghai = pd.read_csv("../Global_Financial_Analysis/Stock_Shanghai.csv")
hongkong = pd.read_csv("../Global_Financial_Analysis/Stock_HK.csv")
london = pd.read_csv("../Global_Financial_Analysis/Stock_L.csv")
tokyo = pd.read_csv("../Global_Financial_Analysis/Stock_Tokyo.csv")
australia = pd.read_csv("../Global_Financial_Analysis/Stock_Australia.csv")

In [4]:
df = pd.concat([india, usa, canada, germany, france, shanghai, hongkong, london, tokyo, australia],axis=0)

In [6]:
df = df.drop('Unnamed: 0',axis=1)

In [11]:
df.dtypes

Date       datetime64[ns]
Close             float64
High              float64
Low               float64
Open              float64
Volume              int64
Company            object
Country            object
dtype: object

In [9]:
df.Date = df.Date.astype('datetime64[ns]')

In [10]:
df

,Date,Close,High,Low,Open,Volume,Company,Country
0,2025-01-01,1216.391846,1221.421805,1206.780209,1210.017281,5892590,Reliance,India
1,2025-01-02,1236.860107,1239.499468,1215.146780,1216.391808,15486276,Reliance,India
2,2025-01-03,1246.172974,1257.029638,1230.585205,1238.951814,15521102,Reliance,India
3,2025-01-06,1213.154785,1256.979753,1210.166719,1248.961727,14816766,Reliance,India
4,2025-01-07,1235.913818,1239.549323,1216.391812,1217.138829,10070505,Reliance,India
...,...,...,...,...,...,...,...,...
5655,2026-02-09,11.130000,11.180000,10.910000,10.990000,4077389,Origin Energy,Australia
5656,2026-02-10,10.990000,11.155000,10.960000,11.140000,2251445,Origin Energy,Australia
5657,2026-02-11,11.070000,11.170000,10.820000,10.890000,3645175,Origin Energy,Australia
5658,2026-02-12,11.500000,11.970000,11.300000,11.550000,5813558,Origin Energy,Australia
5659,2026-02-13,12.080000,12.080000,11.690000,11.800000,6716027,Origin Energy,Australia

In [12]:
df.to_csv('Global_Stock_Data.csv')