In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../Global_Financial_Analysis/Global_Stock_Data.csv")
df

,Unnamed: 0,Date,Close,High,Low,Open,Volume,Company,Country
0,0,2025-01-01,1216.391846,1221.421805,1206.780209,1210.017281,5892590,Reliance,India
1,1,2025-01-02,1236.860107,1239.499468,1215.146780,1216.391808,15486276,Reliance,India
2,2,2025-01-03,1246.172974,1257.029638,1230.585205,1238.951814,15521102,Reliance,India
3,3,2025-01-06,1213.154785,1256.979753,1210.166719,1248.961727,14816766,Reliance,India
4,4,2025-01-07,1235.913818,1239.549323,1216.391812,1217.138829,10070505,Reliance,India
...,...,...,...,...,...,...,...,...,...
55525,5655,2026-02-09,11.130000,11.180000,10.910000,10.990000,4077389,Origin Energy,Australia
55526,5656,2026-02-10,10.990000,11.155000,10.960000,11.140000,2251445,Origin Energy,Australia
55527,5657,2026-02-11,11.070000,11.170000,10.820000,10.890000,3645175,Origin Energy,Australia
55528,5658,2026-02-12,11.500000,11.970000,11.300000,11.550000,5813558,Origin Energy,Australia
55529,5659,2026-02-13,12.080000,12.080000,11.690000,11.800000,6716027,Origin Energy,Australia

In [5]:
df = df.drop('Unnamed: 0',axis=1)
df

,Date,Close,High,Low,Open,Volume,Company,Country
0,2025-01-01,1216.391846,1221.421805,1206.780209,1210.017281,5892590,Reliance,India
1,2025-01-02,1236.860107,1239.499468,1215.146780,1216.391808,15486276,Reliance,India
2,2025-01-03,1246.172974,1257.029638,1230.585205,1238.951814,15521102,Reliance,India
3,2025-01-06,1213.154785,1256.979753,1210.166719,1248.961727,14816766,Reliance,India
4,2025-01-07,1235.913818,1239.549323,1216.391812,1217.138829,10070505,Reliance,India
...,...,...,...,...,...,...,...,...
55525,2026-02-09,11.130000,11.180000,10.910000,10.990000,4077389,Origin Energy,Australia
55526,2026-02-10,10.990000,11.155000,10.960000,11.140000,2251445,Origin Energy,Australia
55527,2026-02-11,11.070000,11.170000,10.820000,10.890000,3645175,Origin Energy,Australia
55528,2026-02-12,11.500000,11.970000,11.300000,11.550000,5813558,Origin Energy,Australia
55529,2026-02-13,12.080000,12.080000,11.690000,11.800000,6716027,Origin Energy,Australia

In [9]:
df.dtypes

Date       datetime64[ns]
Close             float64
High              float64
Low               float64
Open              float64
Volume              int64
Company            object
Country            object
dtype: object

In [7]:
df.Date = df.Date.astype('datetime64[ns]')

In [8]:
df

,Date,Close,High,Low,Open,Volume,Company,Country
0,2025-01-01,1216.391846,1221.421805,1206.780209,1210.017281,5892590,Reliance,India
1,2025-01-02,1236.860107,1239.499468,1215.146780,1216.391808,15486276,Reliance,India
2,2025-01-03,1246.172974,1257.029638,1230.585205,1238.951814,15521102,Reliance,India
3,2025-01-06,1213.154785,1256.979753,1210.166719,1248.961727,14816766,Reliance,India
4,2025-01-07,1235.913818,1239.549323,1216.391812,1217.138829,10070505,Reliance,India
...,...,...,...,...,...,...,...,...
55525,2026-02-09,11.130000,11.180000,10.910000,10.990000,4077389,Origin Energy,Australia
55526,2026-02-10,10.990000,11.155000,10.960000,11.140000,2251445,Origin Energy,Australia
55527,2026-02-11,11.070000,11.170000,10.820000,10.890000,3645175,Origin Energy,Australia
55528,2026-02-12,11.500000,11.970000,11.300000,11.550000,5813558,Origin Energy,Australia
55529,2026-02-13,12.080000,12.080000,11.690000,11.800000,6716027,Origin Energy,Australia